MODEL:
  META_ARCHITECTURE: "GeneralizedRCNN"
#  WEIGHT: "/home/wenjing/result3/model_final.pth"
  WEIGHT: "/home/wenjing/storage/result/result28/model_0212500.pth"

  ROI_BOX_HEAD:
    NUM_CLASSES: 550
  ROI_MASK_HEAD:
    PREDICTOR: "MaskRCNNC4Predictor"
    SHARE_BOX_FEATURE_EXTRACTOR: True
    CONV_LAYERS: (1024, 1024, 1024, 1024)
  ROI_DEPTH_HEAD:
#    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
    PREDICTOR: "MaskRCNNC4Predictor"
    CONV_LAYERS: (1024, 1024, 1024, 1024)
#    POOLER_RESOLUTION: 14
#    POOLER_SAMPLING_RATIO: 2
    RESOLUTION: 28
    SHARE_BOX_FEATURE_EXTRACTOR: False
  MASK_ON: True
  DEPTH_ON: True
  WHOLE_DEPTH_ON: True
  FREEZE_BOX_MASK: False
DATASETS:
  # TEST: ("coco_2014_minival",)
  TEST: ("ScanNet_test",)
OUTPUT_DIR: "/home/wenjing/test1"