MODEL:
  META_ARCHITECTURE: "GeneralizedRCNN"
  # WEIGHT: "catalog://ImageNetPretrained/MSRA/R-50"
  WEIGHT: "/home/wenjing/storage/result/result_/no_last_layers_res_1024.pth"
#  WEIGHT: "/home/wenjing/storage/result/result20/model_0390000.pth"
#  WEIGHT: "/home/wenjing/.torch/models/e2e_mask_rcnn_R_50_C4_1x.pth"
  BACKBONE:
#    CONV_BODY: "R-50-FPN"
    FREEZE_CONV_BODY_AT: 4

#  RESNETS:
#    BACKBONE_OUT_CHANNELS: 256
#  RPN:
#    USE_FPN: True
#    ANCHOR_STRIDE: (4, 8, 16, 32, 64)
#    PRE_NMS_TOP_N_TRAIN: 2000
#    PRE_NMS_TOP_N_TEST: 1000
#    POST_NMS_TOP_N_TEST: 1000
#    FPN_POST_NMS_TOP_N_TEST: 1000
  RPN:
    PRE_NMS_TOP_N_TEST: 6000
    POST_NMS_TOP_N_TEST: 1000
#  ROI_HEADS:
#    USE_FPN: True
  ROI_BOX_HEAD:
    NUM_CLASSES: 550
#    CONV_HEAD_DIM: 1024
#  ROI_MASK_HEAD:
#    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
#    FEATURE_EXTRACTOR: "MaskRCNNFPNFeatureExtractor"
#    PREDICTOR: "MaskRCNNC4Predictor"
#    POOLER_RESOLUTION: 14
#    POOLER_SAMPLING_RATIO: 2
#    RESOLUTION: 28
#    SHARE_BOX_FEATURE_EXTRACTOR: False
  ROI_MASK_HEAD:
    PREDICTOR: "MaskRCNNC4Predictor"
    SHARE_BOX_FEATURE_EXTRACTOR: True
    CONV_LAYERS: (1024, 1024, 1024, 1024)
  ROI_DEPTH_HEAD:
    PREDICTOR: "MaskRCNNC4Predictor"
    CONV_LAYERS: (1024, 1024, 1024, 1024)
    SHARE_BOX_FEATURE_EXTRACTOR: False
    LOSS: 'adaptive'
  WHOLE_DEPTH:
    MODEL_OPTION: 'ORIG'
    FEATURE_EXTRACTOR: 'RES'
    PREDICTOR: 'MaskRCNNC4Predictor'
    LOSS: 'adaptive'

  TENSORBOARD: True
  MASK_ON: True
  DEPTH_ON: False
  WHOLE_DEPTH_ON: False

  FREEZE_BOX_MASK: False
#  FREEZE_FPN: False
  FREEZE_RPN: True
#  MODEL_OPTION: 0
DATASETS:
  TRAIN: ("ScanNet_train",)
  TEST: ("ScanNet_val",)
#DATALOADER:
#  SIZE_DIVISIBILITY: 32
SOLVER:
  BASE_LR: 0.01
  WEIGHT_DECAY: 0.0001
  STEPS: (120000, 160000)
  MAX_ITER: 180000
  IMS_PER_BATCH: 8
